{% extends "layouts/base.html" %}

{% block body %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half">

      <h1 class="govuk-heading-l">Alert</h1>

      <h2 class="govuk-heading-m">Success</h2>

      {{ hmctsAlert({
        type: 'success',
        text: 'You have successfully added 1 question.',
        iconFallbackText: 'Success'
      }) }}

      <h2 class="govuk-heading-m">Warning</h2>

      {{ hmctsAlert({
        type: 'warning',
        text: 'Questions weren’t sent - try again.',
        iconFallbackText: 'Warning'
      }) }}

      <h2 class="govuk-heading-m">Information</h2>

      {{ hmctsAlert({
        type: 'information',
        text: 'Select text to add comment.',
        iconFallbackText: 'information'
      }) }}

    </div>

  </div>

{% endblock %}
