.hmcts-pagination__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @include mq($from: desktop) {
    margin-bottom: 0;
  }

}


.hmcts-pagination__item {
  @include govuk-font(19);
  display: inline-block;
}


.hmcts-pagination__item--active,
.hmcts-pagination__item--dots {
  font-weight: bold;
  padding: 5px;
  height: 25px;
  min-width: 25px;
  text-align: center;
}


.hmcts-pagination__item--prev .hmcts-pagination__link {

  &:before {
    background-color: govuk-colour("black");
    height: 11px;
    width: 12px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
  }

}


.hmcts-pagination__item--next .hmcts-pagination__link {

  &:after {
    background-color: govuk-colour("black");
    height: 11px;
    width: 12px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
  }

}


.hmcts-pagination__link {
  display: block;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  height: 25px;
  min-width: 25px;

  &:focus {
    color: govuk-colour("black");
  }

}
