<nav class="hmcts-sub-navigation{% if params.classes %} {{ params.classes }}{% endif %}"{% if (params.label) %} aria-label="{{ params.label }}"{% endif %}>
  <ul class="hmcts-sub-navigation__list">
    {% for item in params.items %}
      <li class="hmcts-sub-navigation__item">
        <a class="hmcts-sub-navigation__link" {{ 'aria-current="page"' | safe if item.active }} href="{{ item.href }}">{{ item.text }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>