$govuk-global-styles: true;

// GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// HMCTS Frontend
@import "src/all";


// App specific
body {
  margin: 0;
  padding: $hmcts-gutter-half;

  @include mq($from: tablet) {
    padding: $hmcts-gutter;
  }

}
