/* ==========================================================================
   #PRIMARY NAV
   ========================================================================== */

.hmcts-primary-navigation {
  background-color: govuk-colour("black");
}


.hmcts-primary-navigation__container {
  @include hmcts-width-container;
  // @include govuk-clearfix;
  // position: relative;

  font-size: 0; /* Hide whitespace between elements */
  text-align: justify; /* Trick to remove the need for floats */

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}

.hmcts-primary-navigation__items {
  text-align: left;
  @include mq($from: tablet) {
    display: inline-block;
    vertical-align: middle;
  }

}


.hmcts-primary-navigation__list {
  font-size: .1px; // Removes white space when using inline-block on child element.
  list-style: none;
  margin: 0;
  padding: 0;
}


.hmcts-primary-navigation__item {
  @include govuk-font($size: 19, $weight: bold);
  display: inline-block;
  margin-right: govuk-spacing(4);
  margin-top: 0;

  &:last-child {
    margin-right: 0;
  }
}


.hmcts-primary-navigation__link {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: underline;

  &:link,
  &:visited {
    color: govuk-colour("white");
  }

  &:focus {
    color: govuk-colour("black"); // Focus colour on yellow should really be black.
    position: relative; // Ensure focus sits above everything else.
  }

}


/*
<div class="hmcts-primary-navigation">

  <div clas="hmcts-primary-navigation__container">

    <div class="hmcts-primary-navigation__nav">
      <nav>
    </div>

    <div class="hmcts-primary-navigation__search">

      <buton toggle>

      <form>
        <input> <button>
      </form>

    </div>

  </div>

</div>
*/


.hmcts-primary-navigation__link[aria-current] {
  color: govuk-colour(white);
  position: relative;
  text-decoration: none;

  &:before {
    background-color: govuk-colour("white");
    content: "";
    display: block;
    position: absolute; bottom: 0; left: 0;
    height: 5px;
    width: 100%;
  }

  &:focus {
    color: govuk-colour("black"); // Focus colour on yellow should really be black.
    position: relative; // Ensure focus sits above everything else.

    &:before {
      background-color: govuk-colour("black");
    }

  }

}

.hmcts-primary-navigation__search {

  @include mq($from: tablet) {
    display: inline-block;
    vertical-align: middle;
  }

}

.hmcts-search-toggle-button {
  @include govuk-font($size: 19, $weight: bold);
  color: govuk-colour(white);
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  cursor: pointer;
  -webkit-appearance: none;
  background-color: govuk-colour(black);
  border: none;
  padding: 0;
  &:after {
    background-repeat: no-repeat;
    background-image: url(#{$hmcts-images-path}icon-search-white.svg);
    content: '';
    display: inline-block;
    height: 20px;
    margin-left: govuk-spacing(2);
    vertical-align: middle;
    width: 20px;
  }

  &:focus {
    @include govuk-focusable;
  }
}


.hmcts-search-container {
  background-color: govuk-colour("black");

  @include govuk-media-query($from: tablet) {
    background-color: none;
  }

}


.js-enabled .hmcts-search-container {
  position: relative;
}

.js-enabled .hmcts-search-container__wrapper {
  background-color: govuk-colour("black");
  position: absolute;

  @include govuk-media-query($until: tablet) {
    width: 100%;
  }

  @include govuk-media-query($from: tablet) {
    @include hmcts-width-container();
    position: relative;
  }

}

.js-enabled .hmcts-search-container__inner-wrapper {
  @include govuk-media-query($from: tablet) {
    max-width: 450px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}
