.hmcts-primary-navigation {
  background-color: govuk-colour("black");
}


.hmcts-primary-navigation__container {
  @include hmcts-width-container;
  font-size: 0; // Hide whitespace between elements
  text-align: justify; // Trick to remove the need for floats

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }

}

.hmcts-primary-navigation__items {
  text-align: left;
  @include mq($from: desktop) {
    display: inline-block;
    vertical-align: middle;
  }

}


.hmcts-primary-navigation__list {
  font-size: .1px; // Removes white space when using inline-block on child element.
  list-style: none;
  margin: 0;
  padding: 0;
}


.hmcts-primary-navigation__item {
  @include govuk-font($size: 19, $weight: bold);
  display: inline-block;
  margin-right: govuk-spacing(4);
  margin-top: 0;

  &:last-child {
    margin-right: 0;
  }

}


.hmcts-primary-navigation__link {
  display: block;
  padding-bottom: 13px;
  padding-top: 12px;
  text-decoration: underline;

  &:link,
  &:visited {
    color: govuk-colour("white");
  }

  &:focus {
    color: govuk-colour("black"); // Focus colour on yellow should really be black.
    position: relative; // Ensure focus sits above everything else.
    z-index: 1;
  }

  &[aria-current] {
    color: govuk-colour(white);
    position: relative;
    text-decoration: none;

    &:before {
      background-color: govuk-colour("white");
      content: "";
      display: block;
      height: 5px;
      position: absolute; bottom: 0; left: 0;
      width: 100%;
    }

    &:focus {
      color: govuk-colour("black"); // Focus colour on yellow should really be black.
      position: relative; // Ensure focus sits above everything else.

      &:before {
        background-color: govuk-colour("black");
      }

    }

  }

}


/*
<div class="hmcts-primary-navigation">

  <div clas="hmcts-primary-navigation__container">

    <div class="hmcts-primary-navigation__nav">
      <nav>
    </div>

    <div class="hmcts-primary-navigation__search">

      <buton toggle>

      <form>
        <input> <button>
      </form>

    </div>

  </div>

</div>
*/


.hmcts-primary-navigation__search {

  @include mq($from: desktop) {
    display: inline-block;
    vertical-align: middle;
  }

}


.hmcts-search-toggle__button {
  @include govuk-font($size: 19, $weight: bold);
  color: govuk-colour(white);
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  cursor: pointer;
  -webkit-appearance: none;
  background-color: govuk-colour(black);
  border: none;
  padding-top: 12px;
  padding-bottom: 13px;

  padding-left: 0;
  padding-right: 0;

  &:after {
    background-repeat: no-repeat;
    background-image: url(#{$hmcts-images-path}icon-search-white.svg);
    content: '';
    display: inline-block;
    height: 20px;
    margin-left: govuk-spacing(2);
    vertical-align: middle;
    width: 20px;
  }

  &:focus {
    @include govuk-focusable;
    position: relative;
    z-index: 1;
  }

}




.hmcts-search-container {
  background-color: govuk-colour("black");

  @include govuk-media-query($from: tablet) {
    background-color: none;
  }

}


.js-enabled .hmcts-search-container {
  position: relative;
}

.js-enabled .hmcts-search-container__wrapper {
  background-color: govuk-colour("black");
  position: absolute;

  @include govuk-media-query($until: tablet) {
    width: 100%;
  }

  @include govuk-media-query($from: tablet) {
    @include hmcts-width-container();
    position: relative;
  }

}

.js-enabled .hmcts-search-container__inner-wrapper {
  @include govuk-media-query($from: tablet) {
    max-width: 450px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}



.hmcts-search--inline {
  padding: govuk-spacing(2) 0 !important;
  @include govuk-media-query($from: desktop) {
    padding: 0 !important;
  }
}


.hmcts-search--toggle {

  @include govuk-media-query($until: desktop) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

}


// JS enabled
.js-enabled .hmcts-search--toggle {

  @include govuk-media-query($until: desktop) {
    padding-top: 0 !important;
  }

}

.js-enabled .hmcts-search-toggle {
  position: relative;
}

.js-enabled .hmcts-search-toggle__search {

  @include govuk-media-query($from: desktop) {
    max-width: 450px;
    position: absolute;
    right: -15px;
    top: 50px; // Height of nav bar
    width: 450px;
  }

}
