{% extends "layouts/base.html" %}

{% block body %}

  {% set inlineSearchHtml %}
    {{ hmctsSearch({
      classes: 'hmcts-search--ondark hmcts-search--inline',
      input: {
        id: 'search1',
        name: 'search1'
      },
      label: {
        text: 'A label goes here',
        classes: 'govuk-visually-hidden'
      },
      button: {
        text: 'Search'
      }
    }) }}
  {% endset %}

  {% set toggleSearchHtml %}
    <div class="hmcts-search-toggle"></div>
    <div class="the overlay">
      {{ hmctsSearch({
        classes: 'hmcts-search--ondark hmcts-hidden',
        input: {
          id: 'search2',
          name: 'search2'
        },
        label: {
          text: 'A label goes here',
          classes: 'govuk-visually-hidden'
        },
        button: {
          text: 'Search'
        }
      }) }}
    </div>
  {% endset %}

  <h1 class="govuk-heading-xl">Primary navigation</h1>



  <h2 class="govuk-heading-m">With toggle search</h2>

  {{ hmctsPrimaryNavigation({
    label: 'Primary navigation',
    items: [{
      text: 'Nav item 1',
      href: '#1',
      active: true
    }, {
      text: 'Nav item 2',
      href: '#2'
    }, {
      text: 'Nav item 3',
      href: '#3'
    }]
  }) }}

  <br><br>

  <h2 class="govuk-heading-m">Just navigation</h2>

  {{ hmctsPrimaryNavigation({
    label: 'Primary navigation',
    items: [{
      text: 'Nav item 1',
      href: '#1',
      active: true
    }, {
      text: 'Nav item 2',
      href: '#2'
    }, {
      text: 'Nav item 3',
      href: '#3'
    }]
  }) }}

  <br><br>

  <h2 class="govuk-heading-m">Inline search</h2>

  {{ hmctsPrimaryNavigation({
    label: 'Primary navigation',
    items: [{
      text: 'Nav item 1',
      href: '#1',
      active: true
    }, {
      text: 'Nav item 2',
      href: '#2'
    }, {
      text: 'Nav item 3',
      href: '#3'
    }],
    searchHtml: inlineSearchHtml
  }) }}

  <br><br>

  <h2 class="govuk-heading-m">With toggle search</h2>

  {{ hmctsPrimaryNavigation({
    label: 'Primary navigation',
    items: [{
      text: 'Nav item 1',
      href: '#1',
      active: true
    }, {
      text: 'Nav item 2',
      href: '#2'
    }, {
      text: 'Nav item 3',
      href: '#3'
    }],
    searchHtml: toggleSearchHtml
  }) }}
  <!-- <div class="hmcts-search-container">
    <div class="hmcts-search-container__wrapper">
      <div class="hmcts-search-container__inner-wrapper">
        {{hmctsSearch({
          classes: 'hmcts-search--ondark hmcts-hidden',
          label: {
            text: 'Enter case number, for example 123456'
          },
          button: {
            text: 'Search'
          }
        })}}
      </div>
    </div>
  </div> -->

{% endblock %}

{% block pageScripts %}
  <script>
    new HMCTSFrontend.SearchToggleButton({
      toggleButton: {
        container: $('.hmcts-search-toggle'),
        text: 'Search for case'
      },
      search: {
        container: $('.hmcts-search').last()
      }

    })
  </script>
{% endblock %}
