.hmcts-search {
  align-items: flex-end;
  display: flex;
  font-size: 0; // Fallback
}


.hmcts-search .govuk-form-group {
  display: inline-block;
  flex: 1;
  margin-bottom: 0;
  vertical-align: top;
}


.hmcts-search__input--ondark {
  border-color: govuk-colour("white");
}


.hmcts-search__button {
  display: inline-block;
  margin-bottom: 0;
  position: relative;
  top: -2px; // Override default gov properties due to active pixel movement
  vertical-align: top;
  width: auto;

  &:active {
    top: -2px;
  }

}


