{%- from "input/macro.njk" import govukInput %}
{%- from "button/macro.njk" import govukButton %}

<div class="hmcts-search {{- ' ' + params.classes if params.classes}}">

  {% if params.hint %}
    {% set hintClasses = 'hmcts-search__hint ' + (params.hint.classes if params.hint.classes) %}
    {% set hintText = params.hint.text %}
    {% set hint = { classes: hintClasses, text: hintText } %}
  {% endif %}


  {{ govukInput({
    classes: 'hmcts-search__input ' + (params.input.classes if params.input.classes),
    label: {
      classes: 'hmcts-search__label ' + (params.label.classes if params.label.classes),
      text: params.label.text
    },
    hint: hint,
    id: params.input.id,
    name: params.input.name
  }) }}

  {{ govukButton({
    classes: 'hmcts-search__button ' + (params.button.classes if params.button.classes),
    text: params.button.text
  }) }}

</div>





{#
<br></br>

<div class="hmcts-search hmcts-search--ondark">

  {{ govukInput({
    classes: "hmcts-search__input hmcts-search__input--ondark",
    label: {
      classes: "hmcts-search__label--ondark",
      text: "Search"
    },
    id: "name",
    name: "name"
  }) }}

  {{ govukButton({
    classes: 'hmcts-search__button hmcts-search__button--ondark',
    text: 'Search'
  }) }}

</div>

<br></br>

<div class="hmcts-search hmcts-search--ondark">

  {{ govukInput({
    classes: "hmcts-search__input hmcts-search__input--ondark",
    label: {
      classes: "govuk-visually-hidden",
      text: "Search"
    },
    id: "name",
    name: "name"
  }) }}

  {{ govukButton({
    classes: 'hmcts-search__button hmcts-search__button--ondark',
    text: 'Search'
  }) }}

</div>

<br><br>

<div class="hmcts-search">

  {{ govukInput({
    label: {
      classes: "hmcts-search__input",
      text: "Search"
    },
    hint: {
      text: "Enter case number, for example 123456"
    },
    id: "name",
    name: "name"
  }) }}

  {{ govukButton({
    classes: 'hmcts-search__button',
    text: 'Search'
  }) }}

</div> #}