<div class="hmcts-details-bar {{- ' ' + params.classes if params.classes}}">
  <div class="hmcts-details-bar__container">
    <span class="hmcts-details-bar__reference">{{params.reference}}</span>
    {% if params.title %}
      <span class="hmcts-details-bar__title">{{ params.title.html | safe if params.title.html else params.title.text }}</span>
    {% endif %}
  </div>
</div>