{% extends "layouts/base.html" %}

{% block body %}
  <h1 class="govuk-heading-l">Currency input</h1>

  {{hmctsCurrencyInput({
    classes: 'adam silver',
    id: 'input1',
    name: 'input1',
    label: {
      classes: 'govuk-label--m',
      html: 'How much do you owe?'
    },
    hint: {
      text: 'For example, £40.99'
    }
  })}}

  {{hmctsCurrencyInput({
    classes: 'hmcts-currency-input__input--right-aligned',
    id: 'input2',
    name: 'input2',
    label: {
      classes: 'govuk-label--m',
      html: 'How much do you owe?'
    }
  })}}

  {{hmctsCurrencyInput({
    id: 'input3',
    name: 'input3',
    currencySymbol: '$',
    visuallyHiddenCurrencyText: 'in dollars',
    label: {
      classes: 'govuk-label--m',
      html: 'How much do you owe?'
    }
  })}}

{% endblock %}