/* ==========================================================================
   #HEADER
   ========================================================================== */

.hmcts-header {
  background-color: govuk-colour(black);
  padding-top: govuk-spacing(2);
}


.hmcts-header__container {
  @include hmcts-width-container;
  @include govuk-clearfix;
  position: relative;
}


.hmcts-header__logo {
  padding-bottom: govuk-spacing(2);

  @include mq($from: tablet) {
    float: left;
  }

}


.hmcts-header__content {
  padding-bottom: 10px;

  @include mq($from: tablet) {
    float: right;
  }

}


.hmcts-header__link {
  color: govuk-colour(white);
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  border-bottom: 1px solid transparent;
  margin-bottom: -1px;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: govuk-colour(white);
  }

  &:hover {
    border-color: govuk-colour(white);
  }

  &:focus {
    color: govuk-colour(black);
    border-color: transparent;
  }

}


// Logotype
.hmcts-header__logotype {
  float: left;
}


.hmcts-header__logotype-crest {
  fill: currentColor;
  margin-right: govuk-spacing(1);
  vertical-align: middle;
}


.hmcts-header__logotype-text {
  @include govuk-font($size: 24, $weight: bold);
  line-height: 24px; // Override due to alignment issue in Chrome
  vertical-align: middle;
}


// Navigation
.hmcts-header__navigation {
  color: govuk-colour(white);
  margin-top: govuk-spacing(1)-2px;

  @include mq($from: tablet) {
    margin-top: govuk-spacing(2)-2px; // Subtle adjustments for positioning
  }

}


.hmcts-header__navigation-list {
  font-size: .1px; // Removes white space when using inline-block on child element.
  list-style: none;
  margin: 0;
  padding: 0;
}


.hmcts-header__navigation-item {
  @include govuk-font(19);
  display: inline-block;
  margin-right: govuk-spacing(4);

  &:last-child {
    margin-right: 0;
  }

}


.hmcts-header__navigation-link {

  &:link,
  &:visited,
  &:active {
    color: inherit;
  }

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    color: govuk-colour(black);
  }

}


.hmcts-header__navigation-link[aria-current=page] {
  text-decoration: none;
}
