<header class="hmcts-header{{ params.classes if params.classes }}" role="banner">

  <div class="hmcts-header__container">

    <div class="hmcts-header__service">
      <a href="{{ params.serviceUrl | default('/') }}">{{ params.serviceName }}</a>
    </div>

    {% if params.navigation %}
    <div class="hmcts-header__content">      
      
      <nav class="hmcts-header__navigation" aria-label="{{ params.navigationLabel }}">
        
        <ul class="hmcts-header__navigation-list{{ params.navigationClasses if params.navigationClasses }}">
          
          {% for item in params.navigation %}
            
            {% if item.href and item.text %}
              <li class="hmcts-header__navigation-item"><a class="hmcts-header__navigation-link" href="{{ item.href }}">{{ item.text }}</a></li>
            {% endif %}

          {% endfor %}

        </ul>

      </nav>

    </div>
    {% endif %}

  </div>

</header>