{% extends "layouts/base.html" %}

{% block body %}
  <h1 class="govuk-heading-l">HMCTS Frontend</h1>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="/components/timeline">Timeline</a></li>
    <li><a href="/components/progress-bar">Progress bar</a></li>
    <li><a href="/components/add-another">Add another</a></li>
    <li><a href="/components/global-header">Header</a></li>
    <li><a href="/components/global-footer">Footer</a></li>
    <li><a href="/components/primary-navigation">Primary navigation</a></li>
    <li><a href="/components/sub-navigation">Sub navigation</a></li>
    <li><a href="/components/alert">Alert</a></li>
    <li><a href="/components/buttons">Buttons</a></li>
    <li><a href="/components/details-bar">Details bar</a></li>
    <li><a href="/components/menu">Menu</a></li>
    <li><a href="/components/page-header-with-actions">Page header with actions</a></li>
  </ul>
{% endblock %}
